.product {
    padding-top: 120px;
    padding-bottom: 168px;
}

.product-row {
    display: flex;
    justify-content: space-between;
}

.product-img-wrapper {
    position: relative;
    
    margin-right: 86px;
    padding-left: 60px;
    padding-bottom: 74px;
}


.product-img {
    border-radius: 18px;
}

.product-card {
    position: absolute;
    left: 0;
    bottom: 0;
}

.product-img img {
    border-radius: 18px;
}

.product-content {
    max-width: 584px;
}

.product-content-heading {
    margin-bottom: 10px;
    font-family: 'Lato', serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
}

.product-content-text {
    max-width: 530px;
    margin-bottom: 40px;
    margin-top: 20px;
    font-family: 'Lato', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: #484848;
}

.product-content-btn {
    display: flex;
}